.main_div
{
    justify-content: center;
    display: flex;
    /* box-shadow: 5px 10px #888888;
    box-shadow: 5px 10px; */
}
.admin_detail
{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}